.scroll-pane .scroll-bar:horizontal {
    -fx-opacity: 0;
    -fx-max-height: 0;
    -fx-pref-height: 0;
}

/* Style for the table headers */
.table-view .column-header{
    -fx-background-color: #B7B597; /* Header background color */
}

/* General text color for table cells */
.table-view .table-cell {
    -fx-text-fill: #DAD3BE;; /* Change to desired color */
}

.table-view .column-header .label {
    -fx-text-fill: #6B8A7A; /* Header text color */
    -fx-font-weight: bold; /* Optional: make the text bold */
}
/* Style for the TableView */
.table-view {
    -fx-background-color: transparent;
}

/* Style for the table rows */
.table-row-cell {
    -fx-text-fill: #DAD3BE; /* Text color for all rows */
}

.table-view .table-cell {
    -fx-alignment: center;
}

/* Style for even rows */
.table-row-cell:even {
    -fx-background-color: #254336;
}

/* Style for odd rows */
.table-row-cell:odd {
    -fx-background-color: #6B8A7A;
}

.button:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-border-color: transparent; /* removes the border when focused */
    -fx-background-insets: 0;

}

/*!* Style for selected rows *!*/
/*.table-row-cell:selected {*/
/*    -fx-background-color: pink; !* You can customize this color as needed *!*/
/*    -fx-text-fill: #DAD3BE; !* Ensure text color remains consistent *!*/
/*}*/

.table-view .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-max-width: 0;
    -fx-pref-width: 0;
}

.chart-pane {
    /*-fx-background-color: black;*/
    -fx-padding: 10;
}